<mat-toolbar color="primary">
	<mat-toolbar-row>
    	<span>Tour Agency</span>
	</mat-toolbar-row>
</mat-toolbar>
<nav>
	<a routerLink="/login">Login</a>
</nav>

<div class="form-wrapper">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !usernameValue.valid }">
      <input type="text" class="form-control" name="usernameValue" [(ngModel)]="username" #usernameValue="ngModel"
             required placeholder="Email"/>
      <div *ngIf="f.submitted && !usernameValue.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passwordValue.valid }">
      <input type="password" class="form-control" name="passwordValue" [(ngModel)]="password" #passwordValue="ngModel"
             required placeholder="Password"/>
      <div *ngIf="f.submitted && !passwordValue.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Sign In</button>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>

<a routerLink="/welcome" class = "main-fab" mat-fab>
  <mat-icon aria-label="Home">home</mat-icon>
</a>
