<mat-toolbar color="primary">
	<mat-toolbar-row>
    	<span>Tour Agency</span>
	</mat-toolbar-row>
</mat-toolbar>
<nav>
	<a routerLink="/login">Login</a>
</nav>


<h1>Welcome!</h1>

<a routerLink="/welcome" class = "main-fab" mat-fab>
  <mat-icon aria-label="Home">home</mat-icon>
</a>
