<mat-toolbar color="primary">
	<mat-toolbar-row>
    	<span>Tour Agency</span>
	</mat-toolbar-row>
</mat-toolbar>
<nav>
	<a (click)="logout()">Logout</a>
	<a>Tours</a>
	<a routerLink="./profile">Profile</a>
	<a routerLink="./orders">Orders</a>
</nav>
<p>
  home works!
</p>

<a routerLink="/home" class = "main-fab" mat-fab>
  <mat-icon aria-label="Home">home</mat-icon>
</a>
