<mat-toolbar color="primary">
	<mat-toolbar-row>
    	<span>Tour Agency</span>
	</mat-toolbar-row>
</mat-toolbar>
<nav>
	<a (click)="logout()">Logout</a>
	<a>Tours</a>
	<a routerLink="./profile">Profile</a>
	<a routerLink="./orders">Orders</a>
</nav>
<p>
  orders works!
</p>

<table *ngFor="let order of orders">
    <tr>
        <th> Is Confirmed</th>
        <th> Date and Time</th>
    </tr>
    <tr>
        <td *ngIf="order.isConfirmed"> Yes </td>
        <td *ngIf="!order.isConfirmed"> No </td>
        <td> {{ order.timeKey | date: 'd MMMM yyyy HH:mm:ss'}}</td>
    </tr>
</table>

<a routerLink="/home" class = "main-fab" mat-fab>
  <mat-icon aria-label="Home">home</mat-icon>
</a>
